nav{
    background-color: rgba(0, 0, 0, 0.63);
    width: max-content;
    display: block;
    padding: 0.7em 1.7em;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}
nav a{
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.5rem;
}

nav a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}

nav a.active{
    background-color: rgba(0, 0, 0, 0.829);
    color: var(--color-white);
}
